@charset "utf-8";
hr {
	clear:both;
	margin:5px auto;
	border-width:0;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #FFF;
	height:2px;
	overflow:hidden;
}
hr.dotted {
	clear:both;
	margin:5px auto;
	border-width:0;
	border-top:1px dotted #e4e4e4;
	border-bottom:1px solid #FFF;
	height:2px;
	overflow:hidden;
}
ol, ul {
	list-style:none;
}
img {
	border:0;
}
small {
	font-size:12px;
}
address, caption, th, em, i {
	font-style:normal;
	font-weight:400;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:700;
}
h1 {
	font-size:20px;
	line-height:28px;
}
h2 {
	font-size:18px;
	line-height:24px;
}
h3 {
	font-size:16px;
	line-height:20px;
}
h4 {
	font-size:14px;
	line-height:18px;
}
h5 {
	font-size:12px;
	line-height:16px;
}
h6 {
	font-size:12px;
	line-height:16px;
	font-weight:400;
}
fieldset {
	clear:both;
	border-top-width: 1px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #989796;
}
legend {
	font-weight: bold;
	color: #989796;
	padding: 10px;
}
fieldset p {
	margin:0;
	padding:0 0 0 8px;
}
fieldset li {
	line-height:20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
*html legend {
	margin-left:-7px;
	background-color: #fff;
}
/*红色*/
.red,
.red a:link, .red a:visited,
a.red:link, a.red:visited {
	color:#f00;
	text-decoration:none;
}
.red a:hover, .red a:active,
a.red:hover, a.red:active {
	color:#f00;
	text-decoration:underline;
}
/*绿色*/
a.green:link, a.green:visited {
	color:#78a633;
	text-decoration:none;
}
a.green:hover, a.green:active {
	color:#78a633;
	text-decoration:underline;
}
.green a:link, .green a:visited {
	color:#666666;
	text-decoration:none;
}
.green a:hover, .green a:active {
	color:#0066CC;
	text-decoration:none;
}
/*白色*/ 
.white a:link, .white a:visited,
a.white:link, a.white:visited {
	color:#666666;
	text-decoration:none;
	font-size: 12px;
}
.white a:hover, .white a:active,
a.white:hover, a.white:active {
	color:#FF6600;
	text-decoration:underline;
}
/* 常用样式
-------------------------------------------------------------------*/
.centermain{width:100%;}
.wrapper {
	width:950px;
	clear: both;
	margin-right: auto;
	margin-left: auto;margin-bottom:15px;
}

.clear {
	clear:both;
	height:0;
	overflow:hidden;
}
.mTB10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mT10 {
	margin-top: 10px;
}
.mB10 {
	margin-bottom: 10px;
}
.mL10 {
	margin-left:10px;
}
.mR10 {
	margin-right:10px;
}
.fLeft {
	float:left;
}
.fCenter {
	float:left;
}
.fRight {
	float:right;
}
.border a {
	border: 1px solid #7a7977;
	display: table;
}
.block{
	display: block;
}
.none {
	display: none;
}
.lineTB {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
.lineB {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
}
/* 左 中 右
-------------------------------------------------------------------*/
.mainBox {
	width: 100%;
	clear: both;
}
.cmsMain {
	width: 753px;
	overflow:hidden;
	float:left;
	border: 1px solid #E1E1E1;
	margin-top: 3px;
	margin-left: 11px;
	background-color: #FFFFFF;
	border-top:none;
}
.t1{border: 1px solid #E1E1E1!important;}

/* 列表标题
-------------------------------------------------------------------*/
.bgGrass {
	background:#fff;
}
.bgGreen {
	background-color: #F7F7F7;
}
.titleBar {
	height:32px;
	margin-top: 5px;
	line-height:32px;
	overflow: hidden;
}
.titleBar .fLeft {
	margin-left: 8px;
	color: #000;
	display: inline;
	line-height: 27px;
}
.titleBar .fLeftNoForm {
	margin-left: 8px;
	color: #000;
	display: inline;
	line-height: 32px;
}
.titleBar .fRight {
	margin-right: 5px;
	margin-top:6px;
	height: 26px;

	line-height: 22px;
}
/*分页*/
.titleTabBar {
	height:30px;
	_height:31px;
}
.titleTabBar ul {
	width:100%;
}
.titleTabBar ul li {
	float:left;
	margin-left:-1px;
}
.titleTabBar ul li.last {
	float:right;
	margin-right:-1px;
}
.titleTabBar li a {
	height:31px;
	line-height:30px;
	display:block;
	float:left;
	cursor:pointer;
	padding-top: 0;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
}
.titleTabBar li a:hover {
	text-decoration: none;
}
.titleTabBar ul .select a {
	background:#fff;
	border-right-color: #BFD5AF;
	border-left-color: #BFD5AF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 15;
}
.titleTabBar li a span {
	font-weight:normal;
}
.titleTabBar li a span span {
	color:#e17d32;
}
/*小分类*/
.titSecondary {
	line-height: 17px;
	height: 17px;
}
/* 当前位置
-------------------------------------------------------------------*/
.location {
	border-top:1px solid #E1E1E1;
	line-height: 50px;
	height: 50px;
	background-repeat: repeat-x;
	font-weight: bold;
	color: #000000;
	text-indent: 1em;
	font-size: 14px;
}
.location i {
	font-weight: normal;
	color: #999999;
	margin-right: 3px;
	margin-left: 3px;
}
.location a {
	font-weight: bold;
	color: #397A0E;
	font-size: 14px;
}
.location span b{font-size:12px;font-weight:100;color:#ff0000;}
.location .times{font-size:12px;line-height:18px;padding-top:14px;}
.location .times input{width:30px;height:18px;line-height:18px;text-align:center;}
/* 表格-列表
-------------------------------------------------------------------*/
table.list {
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
	width: 100%;
}
table.list td, table.list th {
	padding: 4px;
	white-space: nowrap;
}
table.list thead th {
	text-align: center;
	color: #2F2F2F;
	font-weight: bold;
	line-height: 25px;
	height: 25px;
	background-color: #F4F7F5;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #DBDDDC;
	border-left-color: #fff;
}
table.list thead a:hover {
	text-decoration: none;
}
table.list thead th img {
	vertical-align: middle;
}
table.list tbody th {
	font-weight: bold;
}
table.list tbody tr {
	background-color: #fff;
	text-align: left;
}
table.list tbody tr td {
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
	line-height: 25px;
}
table.list tbody tr.click td {
	background-color: #ffc;
}
table.list tbody tr.hover td, table.list tbody tr.row0:hover td, table.list tbody tr.row1:hover td {
	background-color: #ffd;
}
table.list tbody .row1,
.row1 {
	background: #f9f9f9;
	border-top: 1px solid #fff;
}
table.list tbody .row1 td {
	background: #f9f9f9;
	border-top: 1px solid #FFF;
}
table.list tfoot tr {
	color: #333;
}
table.list tfoot td, table.list tfoot th {
	background-color: #FBFBFB;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F1F9EC;
}
table.list tfoot td{height:35px;line-height:35px;}
/* 表格-提交
-------------------------------------------------------------------*/
table.submit {
	border-spacing: 1px;
	background-color: #fff;
	color: #000;
	width: 100%;
}
table.submit td, table.submit th {
	padding: 4px;
}
table.submit thead th {
	text-align: left;
	font-weight: bold;
	line-height: 25px;
	height: 25px;
	background-color: #F0FBDD;
}
table.submit thead a:hover {
	text-decoration: none;
}
table.submit thead th img {
	vertical-align: middle;
}
table.submit tbody th {
	font-weight: bold;
}
table.submit tbody tr {
	background-color: #fff;
	text-align: left;
}
table.submit tbody tr td {
	/*height: 25px;*/
	line-height: 35px;
}
table.submit tbody tr.click td {
	background-color: #ffc;
}
table.submit tbody .row1 {
	border-top: 1px solid #fff;
	background-color: #F7FDF0;
}
table.submit tbody .row1 td {
	border-top: 1px solid #FFF;
	background-color: #F6F6F6;
}
table.submit tfoot tr {
	color: #333;
}
table.submit tfoot td, table.submit tfoot th {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F6F6F6;
}
table.submit ul{margin:0px;padding:0px;}
table.submit ul li{width:80px;float:left;}

/* 标示
-------------------------------------------------------------------*/
/*16x16 图标*/
.icon16 {
	background-repeat: no-repeat;
	padding-bottom: 1px;
	height: 15px;
	width: 16px;
	display: block;
}
.titDot {
	background-position: 5px -3558px;
	background-repeat: no-repeat;
}
/*图集*/
.image {
	background-position: 25px -3084px;
}

.mt20{
	margin-top:40px;
}

/*会员中心*/
.c-body {
	width: 860px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.c-left {
	float: left;
	width: 159px;
	background-image: url(../images/c-leftbj.gif);
	background-repeat: repeat-y;
}
.c-leftt {
	height: 34px;
	background-image: url(../images/c-left.gif);
	background-position: center top;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
.left-d {
	background-image: url(../images/c-leftd.gif);
	height: 14px;
}
.fabu {
	height: 31px;
	width: 128px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-image: url(../images/mu1.gif);
	font-size: 14px;
	line-height: 31px;
	font-weight: bold;
	color: #FFFFFF!important;
	text-align: center;
	margin-bottom: 10px;
}
.fabu:hover {
	background-image: url(../images/mu1.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	color: #990000;
}
.guanli {
	height: 31px;
	width: 128px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-image: url(../images/mu2.gif);
	font-size: 14px;
	line-height: 31px;
	font-weight: bold;
	color: #666666;
	text-align: center;
	margin-bottom: 10px;
}
.guanli:hover {
	background-image: url(../images/mu2.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	color: #FF6600;
}
.mu2 {
	margin-right: 15px;
	margin-left: 15px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	background-image: url(../images/mubj.gif);
	background-repeat: no-repeat;
	background-position: 4px 18px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.mu2 ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.mu2 a {
	line-height: 35px;
	height: 35px;
	font-size: 12px;
	color: #727272;
	display: block;
	text-indent: 35px;
}
.mu2 a:hover {
	color: #FF3300;
}
.dhmu2 {
	margin: 15px;
}
.dhmu2 a {
	display: block;
	line-height: 31px;
	background-image: url(../images/mu3.gif);
	text-align: center;
	width: 106px;
	font-size: 12px;
	color: #666666;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
.dhmu2 a:hover {
	background-image: url(../images/mu3.gif);
	color: #FF6600;
	background-position: bottom;
}
.c-r {
	float: left;
	margin-left:11px;
	width: 855px;
	background-image: url(../images/r-b.gif);
	background-repeat: repeat-y;
}
.c-rt {
	background-image: url(../images/r-t.gif);
	height: 6px;
	line-height:0px;
	width: 780px;
	background-repeat: no-repeat;
}
.c-rd {
	height: 7px;
	background-image: url(../images/c-d.gif);
	background-repeat: no-repeat;
}
.c-cen {
}
.c-info {
	height: 120px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.tx {
	display: block;
	padding: 5px;
	height: 100px;
	width: 100px;
	background-color: #FFFFFF;
	border: 1px solid #DBDBDB;
	float: left;
}
.c-userinfo {
	width: 600px;
	float: left;
	margin-left:20px;
	height: 120px;
}
.c-yhm {
	font-size: 12px;
	color: #6F6F6F;
	line-height: 30px;
}
.c-yhm strong {
	font-size: 14px;
	color: #333333;
	margin-right: 8px;
}
.c-kjinfo {
	font-size: 12px;
	color: #B5B5B5;
	line-height: 55px;
}
.c-kjinfo span {
	margin-right: 15px;
}
.c-bu3 a {
	background-image: url(../images/BU3.gif);
	display: block;
	height: 26px;
	width: 83px;
	float: left;
	margin-right: 10px;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	color: #6B6D6A;
}
.c-bu3 a:hover {
	background-image: url(../images/BU3.gif);
	color: #333333;
	background-position: left bottom;
}
.c-bu3 {
	line-height: 26px;
	height: 26px;
}
.c-t {
	line-height: 40px;
	height: 40px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #878787;
	text-indent: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #E7E7E7;
	border-bottom-color: #E7E7E7;
}
.c-news {
	margin-right: 20px;
	margin-left: 20px;
}
.c-news ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.c-news ul li {
	font-size: 12px;
	line-height: 20px;
	display: block;
	color: #878787;
	padding-top: 10px;
	padding-bottom: 25px;
	background-image: url(../images/newsfg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.c-news ul li span{float:right;}
.c-news a {
	color: #888888;
}
.c-news a:hover {
	color: #0066CC;
}
.cer {
	clear: both;
}

.select a {
	color: #666666;
}
.titleTabBar a {
	color: #666666;
}
.footer {
	background-color: #E5E5E5;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 12px;
	color: #666666;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
}
.footer a {
	color: #333333;
	margin-right: 10px;
	margin-left: 10px;
}
.footer a:hover {
	color: #990000;
	text-decoration: underline;
}
.mL10 a {
	color: #0066CC;
}
.mL10 a:hover {
	color: #666666;
	text-decoration:underline
}
.button2{padding:8px 20px;border:0px;background-color:#FF7E00;color:#fff;}
.range_title{width:750px;margin:auto;border:1px solid #ccc;background-color:#f7f7f7;}
.range_title li{margin-right:8px;color: #000;display: inline;line-height: 32px;float:left;width:100px;text-align:center;}
.range_title .hover{background-color:#fff;position:relative;height:32px;font-weight:bold;border-right:1px solid #ccc;border-left:1px solid #ccc;margin-left:-1px;}
.range_show{display:none;padding:1px 15px;width:720px;margin:auto;border:1px solid #ccc;border-top:none;}
.range_show input{float:left;}
.range_show dd{float:left;width:130px;height:24px;line-height:24px;}
#con_area_1{display:block;}
.range_button{width:750px;text-align:center;margin-top:8px;}


#toolbar{ background-color:#E5ECF9;zoom:1; height:24px; line-height:24px; padding:0 12px; margin-top:3px; position:relative}
#toolbar a{display:inline-block;zoom:1;*display:inline; color:#4673CC}
#toolbar a.mark,#toolbar a.map{ background: url(../images/map_mark.png) no-repeat left 50%; padding:0 0 0 20px}
#toolbar a.map{ background-image:url(../images/map.png); margin-left:12px}
#toolbar .right{ float:right;}
#toolbar .CityBox{position:absolute; left:40px; top:30px; background-color:#fff; border:1px solid #8BA4D8; padding:2px; z-index:1; width:200px; display:none}
#toolbar .CityBox h4{background-color:#E5ECF9; line-height:20px; height:20px; padding:0 6px; color:#6688CC; position:relative}
#toolbar .CityBox h4 div.top{background: url(../images/topo.png) no-repeat; height:6px; width:11px; position:absolute; top:-9px; left:38px; line-height:normal; font-size:0}
#toolbar .CityBox .content{ padding:6px; height:150px;overflow-y:auto; padding-bottom:8px}
#toolbar .CityBox a.close{background: url(../images/cross.png) no-repeat left 3px; display:block; width:16px; height:16px;position: absolute;outline:none;right:3px; bottom:1px}
#toolbar .CityBox a.close:hover{background-position: left -46px}
#toolbar .CityBox .line{ height:6px; border-bottom:1px solid #EBEBEB; margin-bottom:5px;}
#mapObj{width:758px;height:421px; padding-top:1px}

.rating-wrap ul, .rating-wrap a:hover, .rating-wrap .active-star, .user-m-star, .urr-rank60, .breadcrumb .note {background-image: url(../images/xing_bg.png);background-repeat: no-repeat;}   /*星星*/
.rating-wrap {display: inline-block;float: left; height: 20px;margin-right: 5px;padding: 4px 0 0 5px;position: relative;top: -2px;width: 89px;z-index: 0;}   
.rating-wrap ul {background-position: 0 -250px;height: 16px;position: relative;width: 85px;z-index: 10;}   
.rating-wrap li {display: inline;}   
.rating-wrap a {display: block;height: 16px;left:0;position: absolute;top: 0;}   
.rating-wrap .five-stars {background-position: 0 -160px;width: 84px;z-index: 10;}   
.rating-wrap .four-stars {background-position: 0 -178px;width: 68px;z-index: 20;}   
.rating-wrap .three-stars {background-position: 0 -196px;width: 51px;z-index: 30;}   
.rating-wrap .two-stars {background-position: 0 -214px;width: 34px;z-index: 40;}   
.rating-wrap .one-star {background-position: 0 -232px;width: 17px;z-index: 50;}    

.comments_form{width:630px;margin:auto;margin-top:15px;}
.star{border:0px!important;width:630px;margin:0px;height:20px!important;}
.star dd{width:170px;float:left;height:20px;line-height:20px;}
.form_textarea{clear:both;width:630px;border:0px!important;margin:8px 0px!important;height:120px!important;}
.form_textarea dt{width:74px;float:left;text-align:center;line-height:20px;color:#ff6600;}
.form_textarea dt img{width:70px;height:70px;border:1px solid #ccc;padding:1px;}
.form_textarea dd{float:left;width:520px;height:95px;display:inline;background:url(../images/comment_form_bg.gif) no-repeat;padding:10px 10px 10px 23px;}
.form_textarea dd textarea{border:0px;width:520px;height:95px;}
.comment_submit{clear:both;padding-left:85px;padding-bottom:15px;}